<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zudbs.project.mapper.FeedMapper">

    <resultMap id="feedResultMap" type="com.zudbs.project.model.Feed">
        <id column="id" property="id"/>
        <id column="writer" property="userId"/>
        <id column="dateTime" property="dateTime"/>
        <id column="content" property="content"/>
        <id column="hasFile" property="hasFile"/>
        <collection column="likes" property="likes" javaType="java.util.ArrayList"
                    ofType="java.lang.String" />
    </resultMap>


    <insert id="registerFeed" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO FEED (USERID, CONTENT, DATETIME, HASFILE)
        VALUES (#{userId}, #{content}, #{dateTime}, #{hasFile} )
    </insert>

    <select id="getFeed" resultMap="feedResultMap">
        SELECT FD.ID, FD.USERID WRITER, FDLK.USERID LIKES, DATETIME, CONTENT, HASFILE
        FROM FEED FD LEFT JOIN FEEDLIKE FDLK ON FD.ID = FDLK.FEEDID
        WHERE FD.ID =#{feedId}
    </select>

    <select id="getFeedList" resultType="com.zudbs.project.model.Feed">
        SELECT ID, USERID, DATETIME, CONTENT, HASFILE FROM FEED
        WHERE USERID =#{userId}
    </select>

    <update id="updateFeed">
        UPDATE FEED SET CONTENT = #{content}, DATETIME =#{dateTime}, HASFILE = #{hasFile}
        WHERE USERID =#{userId} AND ID = #{id}
    </update>

    <delete id="deleteFeed">
        DELETE FROM FEED
        WHERE USERID =#{userId} AND ID = #{feedId}
    </delete>

    <insert id="addFeedLike" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO FEEDLIKE (FEEDID, USERID)
        VALUES (#{feedId}, #{userId})
    </insert>

    <delete id="cancelFeedLike">
        DELETE FROM FEEDLIKE
        WHERE FEEDID =#{feedId} AND USERID = #{userId}
    </delete>

    <select id="getFeedLikesCount" resultType="int">
        SELECT COUNT(*) FROM FEEDLIKE
        WHERE FEEDID =#{feedId}
    </select>

</mapper>
