<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zudbs.project.mapper.FeedMapper">
    <insert id="registerFeed" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO FEED (USERID, CONTENT, DATETIME, HASFILE)
        VALUES (#{userId}, #{content}, #{dateTime}, #{hasFile} )
    </insert>

    <select id="getFeed" resultType="com.zudbs.project.model.Feed" >
        SELECT USERID, CONTENT, DATETIME, HASFILE FROM FEED
        WHERE ID =#{feedId}
    </select>

</mapper>
