<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zudbs.project.mapper.FriendMapper">
    <insert id="requestFriend">
        INSERT INTO FRIEND (USERID, FRIENDID, FOLLOW)
        VALUES (#{userId}, #{friendId}, null )
    </insert>

    <update id="acceptFriend">
        UPDATE FRIEND SET FOLLOW = true
        WHERE USERID = #{requestId} AND FRIENDID = #{userId}
    </update>

    <delete id="rejectFriend">
        DELETE FROM FRIEND
        WHERE USERID = #{requestId} AND FRIENDID = #{userId}
    </delete>



</mapper>
